<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Localizador de Ônibus - {{ titulo }} </title>
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
       <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>

<h3>Digite o número da linha que deseja verificar</h3>

<form action="/gpsbus" method="post">
    <fieldset>
          <div class="form-group">
            <label for="linha">Nº da Linha</label>
            <input type="text" id="linha" name="linha" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary btn-salvar">Consultar</button>

        </fieldset>
  </form>

</body>
</html>